.container{
  margin: 50px auto 0;
  max-width: 600px;
}

.row{
  display: flex;
  margin: 0 0 10px;

  &-vertical{
    flex-direction: column;
  }
}

.input{
  width: 100%;
  border: solid 1px #d5d5d7;
  line-height: 32px;
  padding: 0 10px;
}

.output{
  margin: 50px auto 0;

}

.textarea{
  @extend .input;
  height: 100px;
  padding: 20px 20px;
  font-size: 16px;
  line-height: 1.2;
  resize: vertical;
}

.textarea:focus{
  border-color: #f1f1f1;
  box-shadow: none;
  outline: 0;
}

.button{
  display: block;
  /*width: 100%;*/
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  background: #f2f3f4;
  color: #40444e;
  font-weight: 600;
  border: solid 1px #d7dde8;
  cursor: pointer;

  &[disabled]{
    cursor: wait;
  }
}
